ul {
  list-style: none;
}

.list {
  padding: 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.item {
  width: 300px;
}

.item:not(:first-child) {
  border-bottom: 1px solid lightsteelblue;
}

.persentage {
  font-size: 20px;
  font-weight: bold;
}

.good {
  font-weight: bold;
  color: green;
}
.neutral {
  font-weight: bold;
  color: grey;
}
.bad {
  font-weight: bold;
  color: red;
}

.total {
  font-weight: bold;
}
